---
name: Build kyanite-gaming
on:
    pull_request:
        branches:
            - main
    schedule:
        - cron: "05 10 * * *" # 10:05am UTC everyday
    push:
        branches:
            - main
        paths-ignore:
            - "**/README.md"
    workflow_dispatch:

jobs:
    build:
        uses: ./.github/workflows/build-image.yml
        permissions:
            contents: read
            packages: write
            id-token: write
        with:
            image_name: "kyanite-gaming"
            image_flavor: "gaming"
            image_desc: "Kyanite Gaming - Gaming-focused variant with Steam"
            image_keywords: "bootc,ublue,universal-blue,kde,gaming,steam"
