---
name: Renovate
on:
    schedule:
        - cron: "0 */6 * * *" # Every 6 hours
    workflow_dispatch:
    push:
        branches:
            - main
        paths:
            - ".github/renovate.json5"
            - ".github/workflows/renovate.yml"

jobs:
    renovate:
        name: Run Renovate
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            - name: Run Self-Hosted Renovate
              uses: renovatebot/github-action@9070697a5ae3523ef92b6bb4b8a3172493f2187f # v45.0.1
              with:
                  configurationFile: .github/renovate.json5
                  token: ${{ secrets.RENOVATE_TOKEN }}
              env:
                  RENOVATE_REPOSITORIES: ${{ github.repository }}
                  LOG_LEVEL: debug
